@import '../../styles/mixins';

.cui-search {
  position: relative;

  &__input {
    padding-left: 40px !important;
    font-size: 1rem !important;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--color-gray5);
    outline: none;
    color: var(--color-main);
  }

  .icon-search {
    position: absolute;
    top: 7px;
    left: 12px;
    width: 24px;
    height: 24px;
    color: var(--color-gray5);
  }

  .icon-remove {
    display: flex;
    position: absolute;
    top: 7px;
    right: 55px;
    width: 24px;
    height: 24px;
    color: var(--color-gray5);
    cursor: pointer;

    &:hover {
      color: var(--color-main);
    }
  }

  &__calendar {
    position: absolute;
    top: 7px;
    right: 12px;
    border-left: 1px solid var(--color-gray5);
    padding-left: 12px;
    cursor: pointer;
  }

  .MuiPickersStaticWrapper-staticWrapperRoot {
    position: absolute;
    right: 0;
    z-index: 1000;
    @include shadowy;
  }

  .MuiPickersToolbar-toolbarLandscape {
    display: none !important;
  }

  .DayPicker {
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 1000;
    background: #fff;
    @include shadowy;
  }
}

.Selectable {
  .DayPicker-Day--selected {
    &:not(.DayPicker-Day--start) {
      &:not(.DayPicker-Day--end) {
        &:not(.DayPicker-Day--outside) {
          background-color: #f0f8ff !important;
          color: #4a90e2;
        }
      }
    }
  }
  .DayPicker-Day {
    border-radius: 0 !important;
  }
  .DayPicker-Day--start {
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
  }
  .DayPicker-Day--end {
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
  }
}
